body {
    
    background-color: azure;
    font-family: sans-serif;
    font-size: 1rem;
    padding: 2rem;
}

#container {
    background-color: #EEF;
    border: 2px solid #88B;
    padding: 2rem;
    margin: 1rem auto;
    width: 30%;
}

select, input {
    font-size: 1.5rem;
    padding: 10px;
    width: 250px;
    margin: 1px;
}

.cbW {
    width: 30px;
}

button {
     width:100%; padding:5px; font-size:1rem; background-color:#8C8; font-weight: 600; letter-spacing: 1px;}

#search {
    width: 252px;
}